<!DOCTYPE html>
<html lang="en" xmlns:th="">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <th:block th:if="${course}!=null">
        <form th:action="@{/courses/course}" th:method="post" th:object="${course}">
            short name: <input name="name" th:value="*{name}">
            full name: <input name="description" th:value="*{description}">
            <select name="teacher">
                <th:block th:each="teacher : ${teachers}">
                    <option th:value="${teacher.id}" th:text="${teacher.getFullName().getName()}" th:selected="${teacher.id.equals(course.teacher.id)}"></option>
                </th:block>
            </select>
            <select name="type">
                <option th:each="typeOpt : ${T(mk.ukim.finki.wp.lab.model.Enum.CourseType).values()}"
                        th:value="${typeOpt}" th:text="${typeOpt}" th:selected="${course.type.equals(typeOpt)}"></option>
            </select>
            <input type="hidden" name="id" th:value="${course.courseId}">
            <input type="submit" value="save">
        </form>
    </th:block>
    <th:block th:if="${course} == null">
        <form th:action="@{/courses/course}" th:method="post">
            short name: <input name="name">
            full name: <input name="description">
            <select name="teacher">
                <th:block th:each="teacher : ${teachers}">
                    <option th:value="${teacher.id}" th:text="${teacher.getFullName().getName()}"></option>
                </th:block>
            </select>
            <select name="type">
                <option th:each="typeOpt : ${T(mk.ukim.finki.wp.lab.model.Enum.CourseType).values()}"
                        th:value="${typeOpt}" th:text="${typeOpt}"></option>
            </select>
            <input type="submit" value="save">
        </form>
    </th:block>
</body>
</html>